ion-toolbar {
    --background: transparent;
    --border-style: none;
}

ion-card {
    width: 100%;
    margin: 0;
}

ion-col.col{
	flex: 1 0 90px;
}

ion-page {
    padding-bottom: 50px;
    height: calc(100vh - 100px) !important;
}